doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js')
    script(src='/javascripts/webplane.js')
  body
    block content